.about{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    color:   #6b5df0;;
}

.herosec{
    width: 100%;
    height: 500px;
    /* background-color: rgb(22, 21, 20); */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
    
}

.consectetur{
    margin-top: 130px;
}




.lf{
    width: 45%;
    height: 500px;
    /* background-color: blue; */
    
}

.lf p{
    font-size: 18px;
}
.lf h1{
    font-size: 45px;
    margin-bottom: 25px;
}



.r1{
    width: 30%;
    height: 500px;
    /* background-color: rgba(229, 255, 0, 0.733); */
    margin-top: 30px;
}

.r1 img{
    width: 100%;
}

.four-way{
    margin-bottom: 50px;
    margin-top: 50px;
}