
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===== MENU ===== */
.menu {
  background-color: #6b5df0;
  height: 100px;
  width: 100%;
  color: white;
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; 
  padding-top: 20px; 
}

.menu h1 {
  margin-left: 0;  
}

.menu ul {
  display: flex;
  gap: 50px;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}

.menu ul li {
  cursor: pointer;
  text-decoration: none;
}

a li {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;  
}

.login {
  padding: 10px 18px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.Register {
  background-color: #4EBF60;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




/* Hero */
.hero {
    background: url("02.jpg") center/cover no-repeat;
    color: #6b5df0;;
    padding: 100px 50px;
    text-align: center;
}

.hero h1 { font-size: 45px; }

/* About */
.about{
    display: flex;
    padding: 70px 50px;
    gap: 40px;
}
.about img{
    width: 30px;
}

.about-img img{
    width: 10%;
    /* height: 50px; */
    position: relative;
}

.about-img img{
    width: 320px;
    border-radius: 5px;
}

.small-img-box img{
    width: 250px;
    position: absolute;
    bottom: 190px;
    left: 140px;

}

.stat-box {
    background: #6b5df0;
    color: #fff;
    padding: 10px;
    width: 140px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    bottom: 100px;
    top: 200px;
}

.about-text h1 {
    margin: 10px 0;
    font-size: 32px;
}

.about-text p {
    margin: 10px 0;
    color: #555;
}

.btn {
    display: inline-block;
    background: #6b5df0;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}



/* Vision */
.vision {
    background: #6b5df0;
    color: #fff;
    padding: 60px 50px;
    text-align: center;
}

.vm-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}

.vm-box .item {
    background: #fff;
    color: #000;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.stats .s {
    font-size: 22px;
    font-weight: bold;
}

/* Experts */
.experts {
    padding: 60px 50px;
    text-align: center;
}

.expert-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.expert-grid img {
    width: 250px;
    border-radius: 5px;
}

/* CTA */
.cta {
    background: url("01.jpg") center/cover;
    padding: 90px 50px;
    text-align: center;
    /* color: #fff; */
    color: #6b5df0;
}

.cta-btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: #6b5df0;
    border: none;
    color: #fff;
}


/* subscribe */
.subscribe{
    height: 200px;
    width: 100%;
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.subs{
    width: 50%;
    height: 200px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.emali{
    width: 70%;
    height: 60px;
    background-color: rgba(7, 7, 7, 0.192);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.emali input{
 font-size: 20px;
 border: none;
 padding: 10px;
 background: transparent;
}

.but button{
    font-size: 20px;
    padding: 8px 15px;
    border: none;
    background-color: #4EBF60;
    color: white;
    border-radius: 6px;
}

  .subs h1{
    font-size: 40px;
  }


  
  /* foter */

  .footer {
    background: #f4f7f4;
    padding: 40px 20px;
    font-family: Arial;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-col {
    width: 23%;
    min-width: 200px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-col p {
    font-size: 14px;
    margin-bottom: 8px;
}

.payment-icons img {
    width: 40px;
    margin-right: 5px;
}

.social-icons i {
    font-size: 20px;
    margin-right: 10px;
    color: #58c577;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0 0;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
