
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===== MENU ===== */
.menu {
  background-color: #6b5df0;
  height: 100px;
  width: 100%;
  color: white;
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; 
  padding-top: 20px; 
}

.menu h1 {
  margin-left: 0;  
}

.menu ul {
  display: flex;
  gap: 50px;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}

.menu ul li {
  cursor: pointer;
  text-decoration: none;
}

a li {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;  
}

.login {
  padding: 10px 18px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.Register {
  background-color: #4EBF60;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}





























/* subscribe */
.subscribe{
    height: 200px;
    width: 100%;
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.subs{
    width: 50%;
    height: 200px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.emali{
    width: 70%;
    height: 60px;
    background-color: rgba(7, 7, 7, 0.192);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.emali input{
 font-size: 20px;
 border: none;
 padding: 10px;
 background: transparent;
}

.but button{
    font-size: 20px;
    padding: 8px 15px;
    border: none;
    background-color: #4EBF60;
    color: white;
    border-radius: 6px;
}

  .subs h1{
    font-size: 40px;
  }


  
  /* foter */

  .footer {
    background: #f4f7f4;
    padding: 40px 20px;
    font-family: Arial;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-col {
    width: 23%;
    min-width: 200px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-col p {
    font-size: 14px;
    margin-bottom: 8px;
}

.payment-icons img {
    width: 40px;
    margin-right: 5px;
}

.social-icons i {
    font-size: 20px;
    margin-right: 10px;
    color: #58c577;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0 0;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
