
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===== MENU ===== */
.menu {
  background-color: #6b5df0;
  height: 100px;
  width: 100%;
  color: white;
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; 
  padding-top: 20px; 
}

.menu h1 {
  margin-left: 0;  
}

.menu ul {
  display: flex;
  gap: 50px;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}

.menu ul li {
  cursor: pointer;
  text-decoration: none;
}

a li {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;  
}

.login {
  padding: 10px 18px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.Register {
  background-color: #4EBF60;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 18px 80px; */
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 100;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
}

.header ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.header a.active {
    color: #007bff;
}

.btn {
    background: #007bff;
    padding: 8px 18px;
    color: white !important;
    border-radius: 6px;
}
.hero {
    /* margin-top: 300%; */
    text-align: center;
    background: url('pexels-rdne-7948099.jpg') center/cover no-repeat;
    padding: 150px 20px 120px;
    color: #6b5df0;;
    /* color: white; */
    margin-top: px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}


/* CONTACT SECTION */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    margin: 40px auto;
    width: 90%;
    padding: 40px;
    gap: 40px;
    border-radius: 12px;
}

.contact-left h2, .contact-right h2 {
    margin-bottom: 15px;
}

.info-box {
    margin: 20px 0;
}

.social .icons span {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
}

.social .icons {
    font-size: 24px;
    margin-right: 10px;
    /* color: #007bff; */
    /* background-color: brown; */
}



/* FORM */
form .row {
    display: flex;
    gap: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
}

form textarea {
    height: 120px;
    resize: none;
}

form button {
    width: 160px;
    padding: 12px;
    background: #6b5df0;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

