*{
  padding: 0px;
  margin: 0px;
}

body{
   background-color: #f0f0f0;
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.container{
  display: flex;
}
.left-bar{
  position: fixed;
  width: 20%;
  height: 100vh;
  color: black;
  border-right: 1px solid gray;
  background-color: rgb(228,242,255);
}
.left-bar h2{
  font-size: 20px;
}
.left-bar a{
  text-decoration: none;
}
.pages{
  display: flex;
  margin-left: 30px;
  font-size: 1.1em;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  gap: 8px;
  padding: 5px 5px;
  border-radius: 10px;
  width: 140px;
}
.pages:hover{
   background-color: white;
   box-shadow: 5px 5px 5px gray;
}
.pages1:hover{
   background-color: white;
   box-shadow: 5px 5px 5px gray;
}
.pages1{
  display: flex;
  margin-left: 30px;
  font-size: 1em;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  gap: 8px;
  padding: 5px 5px;
  border-radius: 10px;
  width: 170px;
}
.left-bar ul a{
  text-decoration: none;
}
.right-bar{
  width: 78%;
  margin-left: 20%;
  height: 140vh;
}
.top{
  display: flex;
}
.center{
  width: 200px;
  height: 100px;
  color: black;
  background-color: white;
  margin: 20px 20px;
  border-radius: 20px;
  transition-property: all;
  transition-duration: 1s;
}
.center:hover{
  box-shadow: 5px 5px 5px gray;
  transform: scale(1.1);
}
.center h3{
  text-align: center;
  color: green;
  padding-top:20px ;
  font-size: 30px;
}
.center p{
  /* color: gray; */
  text-align: center;
  padding-top: 10px;
}
.top a{
  text-decoration: none;
}
.bottom{
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 15px;
  width: 100%;
}
.bottom h1{
  padding: 10px;
  color: black;
  font-size: 17px;
}
table{
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: black;
}
table th {
  text-align: left;
  padding: 15px ;
}
table td {
 padding: 15px ;
 border-bottom: 1px solid #e2e8f0;
}
table tbody tr:last-child{
  border-bottom: none;
}
.status {
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 15px;
  }
.completed{
  background-color: transparent;
  border: 2px solid green;
  border-radius: 8px;
  color: #037b69;
}
.pending{
  background-color: transparent;
  border: 2px solid #ac2a06;
  color: #ac2a06;
  border-radius: 8px;
}
.failed{
  background-color: transparent;
  border: 2px solid #8d1a0a;
  color: #8d1a0a;
  border-radius: 8px;
  padding: 6px 12px;
} 
#xob{
    border: 2px solid rgb(227, 225, 225);
    width: 30%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    align-items: end;
    margin-left: 20px;
    /* gap: 20px; */
}
.bar-chart p{
  padding: 10px;
  color: black;
}
.bar-right-chart{
  display: flex;
  align-items: end;
  gap: 10px;
  width: 100%;
  height: 35vh;
  margin-left: 10px;
}
.bar1{
  background-color: rgb(93, 136, 178);
  width: 20px;
  height: 30px;
}
.bar2{
  background-color: rgb(92, 136, 179);
  width: 20px;
  height: 60px;
  margin-left: 8px;
}
.bar3{
  background-color: rgb(92, 136, 179);
  width: 20px;
  height: 180px;
  margin-left: 8px;
}
.bar4{
  background-color: rgb(92, 136, 179);
  width: 20px;
  height: 130px;
  margin-left: 8px;
}
.bar5{
  background-color: rgb(92, 136, 179);
  width: 20px;
  height: 96px;
  margin-left: 8px;
}
.bar6{
  background-color: rgb(92, 136, 179);
  width: 20px;
  height: 85px;
  margin-left:8px ;
}