


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===== MENU ===== */
.menu {
  background-color: #6b5df0;
  height: 100px;
  width: 100%;
  color: white;
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; 
  padding-top: 20px; 
}

.menu h1 {
  margin-left: 0;  
}

.menu ul {
  display: flex;
  gap: 50px;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}

.menu ul li {
  cursor: pointer;
  text-decoration: none;
}

a li {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;  
}

.login {
  padding: 10px 18px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.Register {
  background-color: #4EBF60;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* ===== HERO ===== */
.from {
  width: 100%;
  height: 100vh;       
  background: linear-gradient(135deg, #6b5df0, #3da8ff);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -150px; 
  gap: 30px;
     
}


.senter{
    height: 500px;
    width:40%;
    background-color: #ffffff;
    margin-top: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    
}

.senter h3{
    font-size: 25px;
    color: #050505;
}

.senter input{
    padding-right: 40%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 19px;
    border-radius: 5px;
    
}

.chec{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10PX;
}
.FORGET{
    color:#6b5df0 ;
}





.chec h3{
    font-size: 16px;
    margin-right: 30px;
    margin-top: 5px;
    
}

.box22{
    width: 30px;
    height: 30px;
    
    background: transparent;
    border: solid 2px #6b5df0;
}
 BUtton{
    font-size: 25px;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #6b5df0;
    color: white;
    border: none;
    border-radius: 10px;
 }

 .login{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 20px;

 }

 .dont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }

 .dont h3{
    font-size: 19px;
 }

 .NOW{
    color:#6b5df0 ;
 }




 
  .footer {
    background: #f4f7f4;
    padding: 40px 20px;
    font-family: Arial;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-col {
    width: 23%;
    min-width: 200px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-col p {
    font-size: 14px;
    margin-bottom: 8px;
}

.payment-icons img {
    width: 40px;
    margin-right: 5px;
}

.social-icons i {
    font-size: 20px;
    margin-right: 10px;
    color: #58c577;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0 0;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
