
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===== MENU ===== */
.menu {
  background-color: #6b5df0;
  height: 150px;
  width: 100%;
  color: white;
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; 
  padding-top: 20px; 
}

.menu h1 {
  margin-left: 0;  
}

.menu ul {
  display: flex;
  gap: 50px;
  font-size: 18px;
  list-style: none;
}

.menu ul li {
  cursor: pointer;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;  
}

.login {
  padding: 10px 18px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.Register {
  background-color: #4EBF60;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* ===== HERO ===== */
.hero {
  width: 100%;
  height: 100vh;       
  background: linear-gradient(135deg, #6b5df0, #3da8ff);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -150px; 
  gap: 30px;
     
}

.left-section{
    width: 40%;
    
    /* background-color: aliceblue; */
    height: 500px;
    margin-top: 260px;
    color: white;
}

.left-section h1{
    font-size: 55px;
}
.left-section h2{
    font-size: 15px;
}
.left-section p{
    margin-top: 15px;
}

.Get-start{
  background-color: #4EBF60;
  color: white;
  padding: 10px 18px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}




.right-section{
    width: 27%;
    margin-top: 180px;
    background-color: aliceblue;
    height: 550px;
    border-radius: 10px;
    padding: 30px;
}

.USA{
    background: rgb(216, 216, 213);
    width: 100%;
    height: 50PX;
    margin-top: 15PX;
    border-radius: 5PX;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: start;
    gap: 40px;
    padding: 15px;
}
.USA img{
 width: 20%;
}
.right-section H2{
    font-size: 20px;
}

.count{
        /* background: rgb(216, 216, 213); */
    width: 100%;
    height: 50PX;
    margin-top: 15PX;
    border-radius: 5PX;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: start;
    gap: 40px;
    padding: 15px;
}

.country{
    width: 150px;
    height: 50px;
    background: rgb(216, 216, 213);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.country h2{
    font-size: 15px;
    font-weight: 300;
}

.Money{
      width: 500px;
    height: 50px;
    background: rgb(216, 216, 213);
        display: flex;
    justify-content: center;
    align-items: center;
}
.Money h2{
    font-size: 15px;
    font-weight: 300;
}

.title{
    margin-top: 20px;
    font-size: 15px;
}

.GDP{
    
    width: 100%;
    height: 50PX;
    margin-top: 15PX;
    border-radius: 5PX;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: start;
    gap: 40px;
    padding: 15px;
    justify-content: center;
}
.GDP h3{
    font-size: 17PX;
    font-weight: 550;
}

.send-mony{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.send-mony button{
    font-size: 20px;
    padding: 8px 100px;
   background-color: #4EBF60;
   border: none;
   border-radius: 10px;
   color: white;
}

.send {
    font-size: 12px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 700px;
}

.trem{
    color: #4EBF60;
}

.four-way{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consectetur{
    width: 40%;
    height: 200px;
    
    color: black;
    text-align: center;
}
.consectetur p{
    margin-top: 30px;
}

.all-cards{
    width: 100%;
    height: 300px;
    /* background-color: bisque; */
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.cards{
    width: 80%;
    height: 300px;
    /* background-color: rgb(61, 61, 60); */
    display: flex;
    justify-content: space-between;
    gap: 40px;
    }
    .box{
        width: 25%;
            height: 300px;
        background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    }

     .box h1{
        font-size: 23px;
     }

   .box i{
    font-size: 60px;
    margin-bottom: 15px;
    color: #4EBF60;
   }

     .box p{
        margin-top: 14px;
     }

     .putton{
        width: 100%;
        height: 70px;
        /* background-color: black; */
        /* margin-top: 30px; */
        display: flex;
        align-items: center;
        justify-content: center;
     }

      .putton button{
        font-size: 25px;
        padding: 7px 20px;
        background-color: #4EBF60;
        color: white;
        border: none;
        border-radius: 5px;
      }

      .payment{
        /* background-color: black; */
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 150px;
        
      }

    .pay-left{
        width: 40%;
        height: 400px;
        background-color: antiquewhite;
        margin-top: 30px;
    }

    .pay-left img{
        width: 100%;
    }
    .pay-right{
        width: 40%;
        height: 400px;
        /* background-color: antiquewhite; */
         margin-top: 50px;
    }

 





    .pay-right  h2 {
        font-size: 35px;
    }

       .pay-right p{
        margin-top: 20px;
        font-size: 19px;
       }

  .pay-right button {
            font-size: 25px;
        padding: 7px 20px;
        background-color: #4EBF60;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 40px;

  }

  

 /* .background {
  background-image: 
    linear-gradient(rgba(2, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
} */


.back{
    margin-top: 60px;
      background-image: 
    linear-gradient(rgba(2, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
    url("background-image.jpg");
      height: 500px;
  width: 100%;
}




    .pay2-left{
        width: 40%;
        height: 400px;
        /* background-color: antiquewhite; */
        margin-top: -19px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pay2-left img{
        width: 65%;
    }


    .four-waytwo{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #4EBF60; */
    
}

.castemars{
    /* background-color: rgb(158, 12, 12); */
    width: 100%;
    height: 500px;
    margin-top: 30px;
        display: flex;
    justify-content: center;
    align-items: center;
}

.bigmidl{
    /* background-color: aquamarine; */
        width: 85%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}

.casmer-card{
    width: 35%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: -120px;
}
.casmer-card h1{
    font-size: 60px;
    color: #000000;
}

.casmer-card i{
    font-size: 25px;
    color: #4EBF60;
    margin-bottom: 30px;
    margin-top: 10px;
}


.image-casm{
    display: flex;
    margin-right: 100px;
    margin-top: 30px;
    gap: 30px;
}

.ceo h2{
  font-size: 16px;
  color: #4EBF60;

}
.ceo h4{
  font-size: 10px;
  margin-right: 50px;

}

.image-casm img{
width: 15%;
border-radius: 100%;
height: 30px;
}

.bacground-text{
     background: linear-gradient(135deg, #6b5df0, #3da8ff);
     width: 100%;
     height: 400px;
     display: flex;
     justify-content: center;
     align-items: center;

}

.text{
    width: 80%;
    height: 200px;
    /* background-color: #000000; */
    color: white;
}

.text p{
 font-size: 20px;
}

.ppp{
    margin-top: 40px;
}