
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===== MENU ===== */
.menu {
  background-color: #6b5df0;
  height: 150px;
  width: 100%;
  /* color: white; */
  color: #3da8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; 
  padding-top: 20px; 
}

.menu h1 {
  margin-left: 0;  
}

.menu ul {
  display: flex;
  gap: 50px;
  font-size: 18px;
  list-style: none;
}

.menu ul li {
  cursor: pointer;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;  
}

.login {
  padding: 10px 18px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.Register {
  background-color: #4EBF60;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* ===== HERO ===== */
.hero {
  width: 100%;
  height: 100vh;       
  background: linear-gradient(135deg, #6b5df0, #3da8ff);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -150px; 
  gap: 30px;
     
}

.left-section{
    width: 40%;
    
    /* background-color: aliceblue; */
    height: 500px;
    margin-top: 260px;
    color: white;
}

.left-section h1{
    font-size: 55px;
}
.left-section h2{
    font-size: 15px;
}
.left-section p{
    margin-top: 15px;
}

.Get-start{
  background-color: #4EBF60;
  color: white;
  padding: 10px 18px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}




.right-section{
    width: 27%;
    margin-top: 180px;
    background-color: aliceblue;
    height: 550px;
    border-radius: 10px;
    padding: 30px;
}

.USA{
    background: rgb(216, 216, 213);
    width: 100%;
    height: 50PX;
    margin-top: 15PX;
    border-radius: 5PX;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: start;
    gap: 40px;
    padding: 15px;
}
.USA img{
 width: 20%;
}
.right-section H2{
    font-size: 20px;
}

.count{
        /* background: rgb(216, 216, 213); */
    width: 100%;
    height: 50PX;
    margin-top: 15PX;
    border-radius: 5PX;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: start;
    gap: 40px;
    padding: 15px;
}

.country{
    width: 70px;
    height: 50px;
    background-color: rgb(161, 160, 160);
}